
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4c2;
}


nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}


main {
    padding: 20px;

    .container {
        display: flex;
        justify-content: space-between;
    }
    
    .left-content {
        width: 50%;
        padding: 30px;
        .lever {
            background-color: #f4f4f4c2; 
            margin-bottom: 100px;
        }
        h1 {
            margin-left: 50px;
            color: #333;
        }
        p {
            margin-left: 50px;
            color: #333;
        } 
    }
    
    
    .right-content {
        position: absolute; 
        right: 0;
        top: 10%;
        width: 60%;
        padding: 20px;
        .self-intro {
            letter-spacing: 1px;
            line-height: 1.8;
        }
    }
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
